{% extends 'base.html.twig' %}

{% block title %}MyStore - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
	<h1 class="my-4">MyStore</h1>
		<p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consectetur error excepturi explicabo maxime architecto doloribus dolorum aliquid rerum minima?</p>
		<a href="{{path('user_add')}}" class="btn btn-primary my-4">Inscription</a>
	</div>
{% endblock %}
